a:active{
    color:#a8e6cf;
}

.footer-adjust{
    margin-bottom: 30px;
}

.my-h2{
    font-weight: 200;
}
.my-name-box{
    margin: 0 5% 0 10%;
}
.box-margin{
    margin: 0 2% 2% 2%;
}
.box-margin-left{
    margin: 0 0% 2% 2%;
    display: flex;
    justify-content: center;
}
.box-margin-right{
    margin: 0 2% 2% 0%;
    display: flex;
    justify-content: center;
}

.my-link{
    color: white;
    text-decoration: none;
}

.my-center{
    display: flex;
    justify-content: center;
}
.my-section{
    display: inline-block;
}

.my-h1{
    font-size: large;
    font-weight: 400;
    color: #8899a6;
    text-align: center;
}

.my-hr{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.my-nav{
    padding: 0 0;
}
.my-drop{
    justify-content: flex-end;
}
.my-li{
    text-align: right;
    margin-right: 1%;
}

.titlePad{
    padding: 2%;
}

.contact-image-container{
    width: 50%;
}
.contact-image{
    object-fit: contain;
    width: 100%;
}
.white-text{
    color: white;
}





.myGreen{
    /* green */
    background-color: #a8e6cf; 
}
.myLightGreen{
    /* light green */
    background-color: #dcedc1;
}
.myOrange{
    /* orange */
    background-color: #ffd3b6;
}
.myPeach{
    /* peach */
    background-color: #ffaaa5;
}
.myRed{
    /* red */
    background-color: #ff8b94;
}



@media screen and (max-width: 576px) {
    .my-h1{
        font-weight: 200;
        font-size: 17px;
    }
    .contact-image-container{
        width: 100%;
    }
}