a:active{
    color:#a8e6cf;
}
.footer-adjust{
    margin-bottom: 10%;
}
.footer-pad{
    padding: 5px;
}
.my-h1{
    font-size: large;
    font-weight: 400;
    color: #8899a6;
    text-align: center;
}
.my-h2{
    font-weight: 300;
    font-size: 27px;
    color: white;  
}
.my-h3{
    font-weight: 300;
    font-size: 20px;
    color: #8899a6;
}
.my-name-box{
    margin: 0 5% 0 10%;
}

.box-margin{
    margin: 0 2% 2% 2%;
}

.box-margin-left{
    margin: 0 0% 2% 2%;
    display: flex;
    justify-content: center;
}

.box-margin-right{
    margin: 0 2% 2% 0%;
    display: flex;
    justify-content: center;
}

.my-link{
    color: white;
    text-decoration: none;
}

.my-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.margin-center{
    margin-left: auto;
    margin-right: auto;
}

.my-section{
    display: inline-block;
}
.my-hr{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.my-nav{
    padding: 0 0;
}
.my-drop{
    justify-content: flex-end;
}
.my-li{
    text-align: right;
    margin-right: 1%;
}
.titlePad{
    padding: 2%;
}
.contact-image-container{
    width: 50%;
}
.about-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.my-image{
    object-fit: contain;
    width: 100%;
}
.my-arrow{
    width: 128px;
}
.arrow-section{
    background-color: #f8d9cf;
    padding: 5% 5% 50% 5%
}
.social{
    width: 32px;
    height: 32px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

/* colors */
.white-text{
    color: white;
}
.myGreen{
    /* green */
    background-color: #a8e6cf; 
}
.myLightGreen{
    /* light green */
    background-color: #dcedc1;
}
.myOrange{
    /* orange */
    background-color: #ffd3b6;
}
.myPeach{
    /* peach */
    background-color: #ffaaa5;
}
.myRed{
    /* red */
    background-color: #ff8b94;
}


/* small screen responsiveness */
@media screen and (max-width: 576px) {
    .my-h1{
        font-weight: 200;
        font-size: 17px;
    }
    .contact-image-container{
        width: 100%;
    }
}